
.text-custom{
	text-align: left;
	color: #aaaaaa;
  }
.card-custom{
	 text-align: left;
	 color: #bebebe;
}
.form-s input{
  padding: 0.25rem 0.5rem;
}
.form-s{
  padding: 2rem;
}
.card-extra .card-body{
  padding: 0 !important;
}

.data-extra{
  position: absolute;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.151);
  width: 100%;
  padding: 0 1rem;
  opacity: 0;
  transition-duration: .4s;
}
  .card-extra:hover .data-extra{
	 opacity:  1;
	 background-color: hsla(0, 0%, 0%, 0.8);
	 padding: 1rem;
}
.data-cards{
	line-height: 1.2;
	margin-top: .8rem;
	padding-top: .8rem;
	border-top: dashed 1px #ddd;
}
.container {
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

 .title {
	font-family: sans-serif;
	display: block;
	font-weight: 300;
	font-size: 100px;
	color: #35495e;
	letter-spacing: 1px;
 }

 .subtitle {
	font-weight: 300;
	font-size: 42px;
	color: #526488;
	word-spacing: 5px;
	padding-bottom: 15px;
}

.links {
	padding-top: 15px;
}
.c-header{
  position: relative;
}